
.footer {
    background-color: #ffffff; 
    color: #000000; 
    text-align: center;
    padding: 20px 0; 
}


.footer .social-icons {
    margin-bottom: 15px; 
}

.footer .social-icons img {
    width: 24px; 
    height: 24px;
    filter: invert(0%); 
}


.footer-links {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    list-style: none; 
    padding: 0;
    margin-bottom: 10px;
}


.footer a {
    color: #000000 !important; 
    text-decoration: none; 
}


.footer a:hover {
    text-decoration: underline; 
}


.footer p {
    font-size: 14px;
    color: #000000; 
}