.container {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: white;
    margin-top: 30px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1C1D22;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions a {
    text-align: center;
    background-color: #1C1D22;
    color: white;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.actions a:hover {
    background-color: #333;
}

