
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    flex: 1;
}

.bdhistoricop {
    background-color: #820AD1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    /* Roxo claro */
    border-radius: 16px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.titulo {
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px 0px 20px 0px;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.order-list {
    list-style: none;
    padding: 0;
}

.order-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: rgba(254, 254, 254, 255);
}

.status-pendente {
    color: orange;
}

.status-concluido {
    color: green;
}

.status-cancelado {
    color: red;
}

.statusf {
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #6b5db6;
    font-size: 12px;
    padding: 1px 3px;
}

